  <div class="flex-container">
    <div *ngFor="let product of products">
    <h3>
        <a [title]="product.name + ' details'" routerLink="/products/{{product.id}}">
          {{ product.name }}
        </a>
    </h3>
      <p *ngIf="product.price" class = "priceRating">
        Price: <strong> {{ product.price}} </strong> 
      </p> 
      <p *ngIf="product.Image">
        <img id = "img" [src] = "product.Image">
      </p> 
        <button class = "btn">
          ADD TO CART
        </button>
    </div>
  </div>
