<p>New Brand Watches</p>
<div>
<p>
    <img src = "https://www.mightywatches.com/static/frontend/TemplateMonster/mightywatches_com/en_US//images/media/seiko_klein.jpg">
</p>
  <p>Only 1 in Stock! </p>
 <p><button> SHOP NOW </button></p>
</div>

<div class="flex-container">
    <div> <img class = "image" src = "https://www.laroyale.nl/media/catalog/product/cache/0ee050c3ffc3555709b9bb6062f4d7e9/s/k/sks611p1.jpg">
    <p>SEIKO SKS611P1</p></div>
    <div><img class = "image" src = "https://www.laroyale.nl/media/catalog/product/cache/67ee89799642c567a71fc92f3699d937/s/s/ssh045j1.jpg">
    <p>SEIKO ASTRON SSH045J1</p> </div> 
</div>
<div class="flex-container">
    <div> <img class = "image" src = "https://www.laroyale.nl/media/catalog/product/cache/67ee89799642c567a71fc92f3699d937/s/u/sur643p1.jpg">
    <p>SEIKO SUR643P1</p></div>
    <div><img class = "image" src = "https://www.laroyale.nl/media/catalog/product/cache/67ee89799642c567a71fc92f3699d937/s/u/sur641p1.jpg">
    <p>SEIKO SUR641P1</p> </div> 
</div>