<div class="login-container">
    <h2>Login</h2>
    
  <div class="form-container">
    <div class="login-container" *ngIf="!logged">
      <p>Username <input type="text" [(ngModel)]="username"></p>
      <p>Password <input type="password" [(ngModel)]="password"></p>
      <button (click)="login()" class="btn-primary">Login</button>
    </div>
    <div *ngIf="logged">
        <h1>You are logged in</h1>
        <button (click)="logout()" class="btn-primary">Logout</button>
    </div>
  </div>
  <div class="bottom">
    <button (click)="goBack()"class="back-button">back</button>
  </div>
</div>


