<div *ngIf="!logged">
  <h1>Login Form</h1>
  <p><input type="text" [(ngModel)]="username"></p>
  <p><input type="text" [(ngModel)]="password"></p>
  <button (click)="login()">Login</button>
</div>
<div *ngIf="logged">
<div class="container">
  <h1>{{title}}</h1>
  <div class="button-container">
    <a routerLink="categories" class="button"> Home</a>
    <a routerLink="aboutus" class="button">FAQs</a>
    <a routerLink="cart" class="button"> Cart</a>
    <a routerLink="login" class="button"> Log in</a>
  </div>
</div>
<router-outlet></router-outlet>
</div>