<div class="cart">
    <div class="cart-header">
        <h2>MY CART</h2>
    </div>
    <div class="close-container">
        <img  (click)=' clearCart()' src="https://cdn3.iconfinder.com/data/icons/musthave/256/Delete.png" width="50" height="50">
    </div>
    <div class="cart-container">
        <div class="cart-item" *ngFor="let item of items">
            <img  src="{{item.image}}" width="300" height="240" alt="suret">
            <span>{{ item.name }}</span>
            <span> - {{ item.price }}$</span>
        </div>
    </div>
    
    <div class="shipping-container">
        <button class="buy-button" (click)="getUserOrders()">Show order history</button>
      <div class="cart-container">
          <div class="cart-item" *ngFor="let product of orderedItems">
            <img  src="{{product.image}}" width="300" height="240" alt="suret">
              <span>{{product.name}}</span>
          </div>
         
      </div>
      
    </div>

    <div class="bottom">
      <button class="buy-button" (click)="purchase()">Purchase</button>
    </div>
    
</div>