<div id="header">ONLINE SHOP
<nav class = "nav">
        <div class="left">
            <a routerLink="/main"> Home</a>   
            <a routerLink="/main"> Shop</a>   
            <a routerLink="/main"> About us</a> 
        </div>
        <div class="right">
         <a routerLink="/main"> Log in
          <img src="https://www.google.com/search?q=log+in+icon&tbm=isch&ved=2ahUKEwi-y52Ln8foAhUWsCoKHf0RCGQQ2-cCegQIABAA&oq=LOG+IN+IC&gs_lcp=CgNpbWcQARgAMgQIABBDMgIIADIECAAQHjIECAAQHjIECAAQHjIECAAQHjIECAAQHjIECAAQHjIECAAQHjIGCAAQBRAeOgQIIxAnOgYIABAIEB5Qxi5YnDRgwEJoAHAAeACAAbsBiAGeBJIBAzAuM5gBAKABAaoBC2d3cy13aXotaW1n&sclient=img&ei=9oqEXr74HJbgqgH9o6CgBg&bih=625&biw=1366&rlz=1C1SQJL_ruKZ828KZ828#imgrc=9Pqr7bTh-l4QqM" />
        </a> 
        </div> 
  </nav>
</div>
  <router-outlet></router-outlet>
